/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 800px;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
	background-color: #fffded;
}
*{
	margin: 0;
	padding: 0;
}
h2 {
	font-size: 170%;
	color: #800000;
}
header{
	background-image:linear-gradient(30deg, #f6bb73, #f6bb73, white, #f6bb73, #f6bb73);
	padding-top: 1.5em;
	padding-bottom: 2em;
}

h3{
	font-size: 130%;
	font-style: italic;
}

aside h1{
	font-size: 150%;
	color: #931420;
	padding-top: .3em;
	padding-bottom: .3em;
}

aside h2 {
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom: .25em;
}
section h2 {
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom: .25em;
}
aside h3{
	font-size: 105%;
	padding-bottom: .25em;
}

a:hover{
	font-style: italic;
}

footer p{
	text-align: center;
	background-color: #931420;
	color: white;
	clear: both;
}

.shadow{
	text-shadow: 1px 1px #800000;
}

.names{
	text-indent: 30px;
}
/* the styles for the header */
header img {
	float: left;
	padding-right: 30px;
	padding-left: 30px;
}

/* the styles for the section */
main {
	clear: left;


}
aside img{
	padding-bottom: 1em;
}
section p{
	padding-bottom: .5em;
}
section blockquote{
	padding-right: 2em;
	padding-left: 2em;
}
section ul{
	padding-bottom: .25em;
	padding-left: 1.25em;
}
section li{
	padding-bottom: .35em;
}
section{
	width: 525px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
}
aside{
	width: 215px;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 1em;
}
h1{
	font-size: 100%;
	padding-top: .5em;
	padding-bottom: .25em;
	margin-top: 0;
	margin-bottom: 0;
}
article{
	padding-top: .5em;
	padding-bottom: .5em;
	border-bottom: solid 2px #800000;
	border-top: solid 2px #800000;
}
article img{
	float: right;
	margin: 0 0 0 0;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	border-left: solid 1px black;
	border-right: solid 1px black;
}
article h2{
	padding-top: 0;
	color: #931420;
}
aritcle h3{
	font-size: 105%;
	padding-bottom: .25em;
	color: #931420;
}
.return{
	padding-left: 0;
}
section h2{
	color: black;
}
section h1{
	color: #931420;
	font-size: 150%;
}
#nav_menu ul {
	list-style: none;
	position: relative;
}
#nav_menu ul li{
	float:left
}
#nav_menu ul ul {
	display:none;
	position: absolute;
	top: 100%;
}
#nav_menu ul li a{
	display: block;
	width: 160px;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	text-decoration: none;
	background-color: #800000;
	color: white;
	font-weight: bold;
}
#nav_menu ul li a.current{
	color: yellow;
}
#nav_menu ul ul li {float: none;}
#nav_menu ul li:hover > ul{
	display:block;
}

#nav_menu > ul::after {
	content: "";
	display:block;
	clear: both;
}
.SM{
	color: black;
	font-size: 150%;
}
/* the styles for the footer */
section ul li{
	list-style-type: circle;
}